.blured{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.box{
    z-index: 1;
    position: absolute;
    border: solid 1.4px red;
    color: tomato;
    background-color: white;
    text-align: center;
    left: 24em;
    top: 13em;
    width: 38%;
    height: 40%;
    border-radius: 18px;
    box-shadow: 8px 8px 12px rgb(212, 184, 184);
}
#text{
    border: tomato 1.5px solid;
    border-radius: 12px;
    color: tomato;
    width: 25em;
    height: 3em;
}
#bt{
    width: 6em;
    height: 2.6em;
    border: solid 1px tomato;
    color:white;
    background: tomato;
    border-radius: 17px;
    margin-top: 20px;
}
.fas{
    position: absolute;
    left: 10px;
    top: 10px;
}